/* 1. Settings */

* {
    padding: 0px;
    margin: 0px;
}

ul li {
    list-style-type: none;
}

html,
body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: white;
    overflow-x: hidden;
}

button {
    outline: none;
}

a {
    text-decoration: none;
}


/* 2. Header */

.header__navbar {
    max-width: 1380px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
}

.header {
    background: #312f2f;
    margin: 0 auto;
}

.logotype {
    margin-right: 105px;
}

.header select {
    width: 230px;
    height: 60px;
    border-radius: 25px;
    color: #b2b2b2;
    outline: none;
    padding-left: 25px;
    padding-right: 20px;
    box-sizing: border-box;
    font-size: 19px;
    font-weight: 300;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
}

.custom__select:after {
    content: '';
    background: url("../image/select.png") no-repeat right center;
    position: absolute;
    display: block;
    content: '';
    width: 10px;
    height: 10px;
    top: 50%;
    right: 25px;
    margin-top: -3px;
    transform: rotate( 45deg) translateY(-50%);
    transition: all .4s ease-in-out;
    transform-origin: 50% 0;
}

.custom {
    overflow: hidden;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    position: relative;
    width: 230px;
    height: 60px;
    margin-right: 30px;
}

.custom>select {
    width: 100%;
}

.custom:after {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 20px;
    width: 1.8em;
    display: block;
    content: "";
    background: url("../image/select.png") center no-repeat;
    pointer-events: none;
}

.default .custom>select {
    width: auto;
}

.overflow .custom {
    overflow: visible;
}

.custom option {
    border-radius: 20px;
    padding: 8px 16px;
}

.header__search_bar {
    width: 500px;
    height: 60px;
    border-radius: 20px;
    outline: none;
    font-size: 19px;
    font-weight: 400;
    color: #b2b2b2;
    padding-left: 30px;
    box-sizing: border-box;
    padding-right: 25px;
    border: none;
    position: relative;
    background: url("../image/header__search.png") center no-repeat;
    background-color: white;
    background-repeat: no-repeat;
    background-position: 95%;
    margin-right: 30px;
}

.header__button {
    width: 190px;
    height: 60px;
    box-sizing: border-box;
    background: linear-gradient(#4dbfd0, #2da1f7);
    border-radius: 25px;
    border: none;
    font-size: 18px;
    color: white;
    font-weight: 400;
    cursor: pointer;
    margin-right: 20px;
}

.header_banner_button {
    display: none;
}

.header__navbar a {
    color: white;
    font-size: 18px;
    font-weight: 400;
}

.header__navbar_banner img {
    margin: 0 auto;
}

.header__banner {
    width: 100vw;
    max-width: 1920px;
}

.header__navbar_banner {
    position: relative;
    text-align: center;
}

.header__banner_text {
    top: 25px;
    position: absolute;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.header__banner_text p {
    max-width: 1100px;
    margin: 0 auto;
    font-size: 15px;
    font-weight: 300;
    line-height: 27px;
}

.header__banner_text h1 {
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 5px;
}

.header__filter_items {
    margin: 0 auto;
    width: 1010px;
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
}

.header__banner {
    display: flex;
    overflow: hidden;
    width: 100vw;
    max-width: 100vw;
}

.header__doctor {
    position: absolute;
    left: 0;
}

.header__navbar_banner img {
    margin: 0 auto;
    /* max-width: 1920px; */
    height: 240px;
    width: 100vw !important;
}

.filter__input {
    width: 500px;
    height: 60px;
    border-radius: 20px;
    outline: none;
    font-size: 19px;
    font-weight: 400;
    color: #b2b2b2;
    padding-left: 30px;
    box-sizing: border-box;
    padding-right: 25px;
    border: none;
    position: relative;
    background-color: white;
    background-repeat: no-repeat;
}

.filter__small {
    width: 90px;
    padding-left: 15px;
    padding-right: 15px;
    color: #b2b2b2;
    border-radius: 10px;
}

.filter__mg {
    width: 210px;
    margin-right: 0px;
}

.filter__mg select {
    border-radius: 10px;
}

.filter__type {
    width: 210px;
    margin-right: 0px;
}

.filter__type select {
    border-radius: 10px;
}

.filter__medium {
    width: 100px;
    padding-left: 15px;
    padding-right: 15px;
    color: #b2b2b2;
    border-radius: 10px;
    margin-right: 0px;
}

.filter__sort select {
    width: 130px;
    border-radius: 10px;
    padding-right: 0px;
    right: 0;
    padding-left: 10px;
}

.filter__sort {
    width: 130px;
    margin-right: 0px;
}

.filter__sort::after {
    right: 5px;
}

.filter__compare {
    height: 60px;
    border: none;
    border-radius: 10px;
    color: white;
    background: #279cfe;
    font-size: 16px;
    font-weight: 400;
    width: 185px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    cursor: pointer;
}


/* 3. Discount */

.discount__item_block_price sup {
    position: relative;
    font-size: 18px;
    top: 3px;
}

.discount__items {
    width: 980px;
    margin: 0 auto;
    margin-top: 40px;
}

.discount__header {
    display: flex;
    margin-bottom: 5px;
}

.discount__item {
    height: 100px;
    background: #e7f4ff;
    display: flex;
}

.discount__pharmacy_top {
    padding-left: 35px;
    box-sizing: border-box;
    width: 50%;
    height: 60px;
    background: #002455;
    color: white;
    font-size: 13px;
    font-weight: 400;
    padding-top: 20px;
    text-transform: uppercase;
}

.discount__price_top {
    width: 25%;
    height: 60px;
    background: #06366e;
    font-size: 13px;
    font-weight: 400;
    padding-top: 20px;
    text-transform: uppercase;
    color: white;
    text-align: center;
    box-sizing: border-box;
}

.discount__coupon_top {
    width: 25%;
    height: 60px;
    background: #083c77;
    font-size: 13px;
    font-weight: 400;
    padding-top: 25px;
    text-transform: uppercase;
    color: white;
    text-align: center;
    box-sizing: border-box;
}

.discount__item_name_block {
    border: 2px dashed #59b9c4;
    padding-top: 25px;
    padding-left: 30px;
    color: #000;
    width: 50%;
    box-sizing: border-box;
    border-right: 0px;
    height: 100px;
    position: relative;
    border-bottom: 0px;
}

.discount__item_text_block {
    width: 25%;
    border: 2px dashed #59b9c4;
    padding-top: 25px;
    box-sizing: border-box;
    height: 100px;
    text-align: center;
    color: #04397b;
    border-right: 0px;
    border-bottom: 0px;
}

.discount__item_coupon_block {
    width: 25%;
    border: 2px dashed #59b9c4;
    padding-top: 25px;
    box-sizing: border-box;
    height: 100px;
    text-align: center;
    color: #04397b;
    border-bottom: 0px;
}

.discount__mobile__fix {
    padding-top: 15px !important;
}

.discount__item_coupon_block div {
    transition: 0.3s;
}

.discount__item_coupon_block div:hover {
    opacity: 0.8;
}

.border__add {
    border-bottom: 2px dashed #59b9c4;
}

.discount__item_block_text {
    color: #000;
    font-weight: 600;
    font-size: 16px;
}

.discount__item_block_price {
    font-weight: 700;
    font-size: 28px;
}

.discount__item_coupon_block div {
    display: flex;
    width: 150px;
    height: 50px;
    background: #279cfe;
    border-radius: 40px;
    border: none;
    color: white;
    cursor: pointer;
    text-align: center;
    align-items: center;
    padding-left: 10px;
    font-size: 13px;
    box-sizing: border-box;
    margin: 0 auto;
}

.discount__item_coupon_block div img {
    width: 20px;
    margin-right: 10px;
}

.discount__item_name {
    font-weight: 700;
    font-size: 18px;
    width: 100px;
}

.discount__item_show {
    color: #63b7ff;
    text-decoration: underline;
    font-size: 12px;
    margin-top: 5px;
}

.discount__sale {
    width: 250px;
    height: 80px;
    position: absolute;
    left: 200px;
    top: 7px;
}

.discount__sale_text {
    position: absolute;
    top: 0;
    left: 0;
}

.discount__item_mark {
    position: relative;
}

.coupon__price img {
    height: 80px;
}

.coupon__price_text {
    position: absolute;
    left: 25px;
    top: 0;
    text-transform: uppercase;
}

.coupon__price_text {
    position: absolute;
    left: 35px;
}

.coupon__price_text {
    position: absolute;
    left: 20px;
    top: -10px;
}

.coupon__price_price {
    color: white;
    font-weight: 700;
}

.coupon__price_save {
    font-weight: 300;
    font-size: 20px;
    color: white;
}

.coupon__price_save span {
    font-weight: 700;
}

.coupon__price {
    position: absolute;
    left: 200px;
    top: 7px;
}

.coupon__price_text_2 {
    position: absolute;
    color: white;
    right: 0px;
    top: 15px;
    font-size: 12px;
    width: 80px;
    text-align: center;
}

.coupon__price_price sup {
    font-size: 18px !important;
}

.coupon__price_price {
    font-weight: 700 !important;
    font-size: 20px;
}

.coupon__price_price {
    margin-top: 5px !important;
    margin-left: 30px;
}

.coupon__price_save {
    margin-top: 25px !important;
}

.discount__adress {
    display: block;
    background: #e7f4ff;
    padding-left: 30px;
    box-sizing: border-box;
}

.discount_adress_row {
    display: flex;
    color: #002455;
    height: 30px;
    padding-top: 10px;
    box-sizing: border-box;
    font-size: 12px;
    font-weight: 700;
}

.discount__item_wrapper {
    margin-bottom: 0px;
}

.discount__adress {
    display: none;
}

.discount__item_show {
    cursor: pointer;
}

.discount__adress_open {
    display: block !important;
}

.discount_adress_row p {
    width: 50%;
}

.discount h2 {
    font-size: 28px;
    font-weight: 400;
    color: #312f2f;
    text-align: center;
    margin-top: 40px;
}

.discount h2 span {
    font-weight: 700;
}

.discount>p {
    margin-top: 10px;
    text-align: center;
    color: #312f2f;
}

sup {
    position: relative;
    top: 2px;
}


/* 4. Reasons */

.reasons {
    margin-top: 100px;
    background: #edf3fa;
    padding-top: 110px;
    padding-bottom: 510px;
}

.reasons__container {
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.reasons__text {
    line-height: 35px;
    font-weight: 300;
    font-size: 21px;
    color: #312f2f;
}

.reasons__text span {
    font-weight: 700;
}

.reasons__cards {
    margin-top: 120px;
}

.reasons__cards {
    text-align: center;
}

.reasons__cards h1 {
    font-weight: 700;
    font-size: 36px;
    color: #002d6b;
}

.reasons__cards_desc {
    font-size: 21px;
    font-weight: 300;
    margin-top: 10px;
    color: #312f2f;
}

.reasons__card {
    width: 25%;
    font-size: 20px;
    color: #312f2f;
    font-weight: 300;
}

.reasons__card img {
    margin-bottom: 20px;
}

.card__mobile {
    display: none;
}

.reasons__card span {
    font-weight: 700;
}

.reasons__cards_wrapper {
    margin-top: 70px;
    flex-wrap: wrap;
}

.reasons__cards_wrapper {
    display: flex;
    justify-content: space-between;
}

.reasons__cards_wrapper_small {
    margin-top: 50px;
    display: flex;
    justify-content: space-around !important;
}

.reasons__card p {
    width: 200px;
    margin: 0 auto;
}

.reasons__button {
    width: 520px;
    height: 65px;
    background: #002d6b;
    border-radius: 40px;
    border: none;
    margin: 0 auto;
    margin-top: 75px;
    color: white;
    font-weight: 400;
    font-size: 21px;
    cursor: pointer;
}


/* 5. Reviews */

.reviews {
    text-align: center;
    padding-top: 250px;
    background: #4ab3bf;
    position: relative;
    padding-bottom: 100px;
}

.reviews>img {
    width: 790px;
    left: calc((100vw - 780px) / 2);
    top: -350px;
    position: absolute;
}

.reviews h3 {
    font-weight: 700;
    font-size: 31px;
    margin-bottom: 10px;
}

.reviews__subtitle {
    font-weight: 300;
    font-size: 28px;
}

.reviews__line {
    width: 250px;
    height: 5px;
    margin: 0 auto;
    background: white;
    margin-top: 30px;
    margin-bottom: 30px;
}

.reviews__text {
    width: 880px;
    margin: 0 auto;
    text-align: center;
    font-weight: 300;
    font-size: 21px;
    color: white;
    line-height: 35px;
}

.reviews__cards {
    width: 1200px;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

.reviews__card {
    width: 350px;
    height: 350px;
    background: white;
    box-sizing: border-box;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 40px;
    position: relative;
    padding-right: 30px;
    text-align: left;
    color: #000000;
}

.reviews_card_title {
    color: #002d6b;
    font-size: 23px;
    font-weight: 700;
    margin-bottom: 10px;
}

.reviews__card_text {
    line-height: 25px;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 20px;
}

.reviews__card_author {
    font-weight: 700;
    font-size: 14px;
    position: absolute;
    bottom: 20px;
}


/* 6. FAQ */

.faq {
    text-align: center;
    margin-top: 110px;
}

.faq h1 {
    color: #002d6b;
    font-weight: 700;
    font-size: 36px;
}

.faq__subtitle {
    width: 930px;
    margin: 0 auto;
    margin-top: 25px;
    font-weight: 300;
    font-size: 21px;
    color: #000000;
    line-height: 35px;
}

.faq__items {
    width: 1220px;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 100px;
}

.faq__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.faq__item {
    width: 590px;
    background: white;
    position: relative;
    cursor: pointer;
    margin-bottom: 20px;
}

.faq__item_number {
    border-right: 1px solid #d8d8d8;
    height: 39px;
    width: 50px;
    text-align: center;
    padding-top: 20px;
    font-size: 18px;
    font-weight: 700;
    color: #002d6b;
}

.faq__question {
    font-size: 16px;
    font-weight: 700;
    color: #002d6b;
    margin-left: 15px;
}

.faq__item_status {
    border-left: 1px solid #d8d8d8;
    height: 39px;
    width: 50px;
    text-align: center;
    padding-top: 17px;
    font-size: 18px;
    font-weight: 700;
    color: #002d6b;
    position: absolute;
    right: 0;
}

.faq__item_answer {
    height: 200px;
    width: 592px;
    border: 1px solid #d8d8d8;
    border-top: 0px;
    border-bottom: 0px;
    padding-left: 65px;
    color: #666;
    text-align: left;
    box-sizing: border-box;
}

.faq__answer__text {
    width: 450px;
    font-size: 13px;
    line-height: 25px;
    display: none;
}

.faq__answer__text_visible {
    display: block !important;
}

.faq__visible {
    border: 1px solid #d8d8d8;
    position: relative;
    height: 55px;
    display: flex;
    width: 590px;
}

.faq__item_answer {
    height: 0px;
    transition: 0.3s;
    background: white;
}

.faq__item_answer_open {
    height: 200px;
    padding-top: 20px;
    border-bottom: 1px solid #d8d8d8;
}

.faq__item_number_open {
    color: white !important;
    background: #002d6b !important;
}

.faq__visible {
    align-items: center;
}


/* 7. Info */

.info hr {
    background: #f2f6fb;
    color: #f2f6fb;
    margin-bottom: 100px;
    border: none;
    height: 1px;
}

.info h1 {
    width: 680px;
    margin: 0 auto;
    font-size: 36px;
    font-weight: 400;
    color: #002d6b;
    text-align: center;
    line-height: 50px;
}

.info h1 span {
    font-weight: 700;
}

.info__full_logo {
    position: relative;
    text-align: center;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 100px;
    width: 1000px;
    left: calc((100vw - 1000px) /2);
}

.info__button {
    width: 520px;
    border-radius: 40px;
    border: none;
    height: 65px;
    background: #53c4ca;
    color: white;
    font-weight: 300;
    font-size: 21px;
    margin: 0 auto;
    cursor: pointer;
}

.info__wrapper {
    text-align: center;
}

.info__wrapper_title {
    font-weight: 700;
    font-size: 36px;
    color: #002d6b;
}

.info__wrapper_text {
    font-weight: 300;
    font-size: 21px;
    color: #000;
    width: 940px;
    margin: 0 auto;
    margin-top: 25px;
    line-height: 30px;
    margin-bottom: 70px;
}

.info__block {
    right: 5px;
    position: relative;
    bottom: 50px;
    margin: 0 auto;
    padding-top: 100px;
    width: 920px;
    -webkit-box-shadow: 0px 16px 28px 3px rgba(34, 60, 80, 0.16);
    -moz-box-shadow: 0px 16px 28px 3px rgba(34, 60, 80, 0.16);
    box-shadow: 0px 16px 28px 3px rgba(34, 60, 80, 0.16);
    padding-bottom: 80px;
}

.info__icons_wrapper {
    width: 700px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.info__icons_block p {
    font-weight: 700;
    font-size: 24px;
    color: #002d6b;
}

.info__icons_block {
    text-align: left;
    margin-bottom: 15px;
    display: flex;
    width: 340px;
}

.info__icons_block img {
    margin-right: 15px;
}

.info__block_desc {
    font-size: 14px;
    font-weight: 300;
    color: #000000;
    text-align: left;
    margin-bottom: 30px;
}

.info__block_text {
    padding-left: 80px;
    padding-right: 80px;
    line-height: 25px;
}

.info__block_text img {
    position: absolute;
    top: -30px;
    left: 50px;
}

.info__block_text {
    position: relative;
    margin-top: 130px;
}

.info__block_author {
    font-weight: 700;
    text-align: left;
    color: #000;
}

.info__block_note {
    text-align: left;
    color: #666;
    width: 1200px;
    margin: 0 auto;
    margin-top: 70px;
    padding-bottom: 140px;
}

.info__note_title {
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 35px;
}

.info__note_text {
    font-weight: 300;
    font-size: 14px;
    margin-bottom: 35px;
}

.banner__save {
    height: 390px;
    background-image: url(../image/banner_save.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
    box-sizing: border-box;
}

.banner__save_content {
    text-align: center;
    margin: 0 auto;
}

.banner__save_title {
    font-weight: 400;
    font-size: 28px;
}

.banner__save_title span {
    font-weight: 900;
}

.banner__save_desc {
    font-weight: 400;
    font-size: 17px;
    margin-top: 20px;
}

.banner__save_button {
    width: 390px;
    height: 65px;
    color: white;
    border: none;
    border-radius: 40px;
    margin: 0 auto;
    background: #002d6b;
    margin-top: 50px;
    font-weight: 400;
    font-size: 21px;
    cursor: pointer;
    transition: 0.2s;
}

.banner__save_button:hover {
    transition: 0.2s;
}

button {
    transition: 0.2s;
}

button:hover {
    opacity: 0.8;
}

.banner__list {
    background: #53c4ca;
    height: 300px;
    box-sizing: border-box;
    padding-top: 100px;
}

.banner__title {
    font-weight: 900;
    font-size: 28px;
}

.banner__list_items {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: 0 auto;
    font-weight: 700;
    margin-top: 40px;
}

.banner__list_items>div {
    width: 48.5%;
    display: flex;
    justify-content: space-between;
}


/* 7. Footer */

footer {
    background: #312f2f;
    padding-top: 100px;
    padding-bottom: 30px;
}

.footer__wrapper {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.footer_text {
    font-size: 13px;
    font-weight: 300;
}

.footer__logotype {
    margin-bottom: 40px;
}

.footer_text {
    margin-bottom: 15px;
}

.footer__links img {
    width: 25px;
}

.footer__links a {
    margin-right: 20px;
}

.footer__links {
    margin-top: 25px;
}

nav>ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav>ul>li {
    width: 45%;
    margin-bottom: 20px;
}

nav>ul>li>a {
    color: white;
}

.footer__nav {
    width: 350px;
}

footer hr {
    margin-top: 170px;
    background: #3c3a3a;
    color: #3c3a3a;
    border: none;
    height: 1px;
    margin-bottom: 30px;
}

.footer__bottom_text {
    text-align: center;
    font-weight: 300;
    font-size: 11px;
}


/* ADAPTIVE */

@media (max-width: 1600px) {
    .header__navbar_banner img {
        margin: 0 auto;
        height: 245px;
    }
    .header__banner_text {
        top: 25px;
    }
}

@media (max-width: 1368px) {
    .header__navbar {
        max-width: 100vw;
        width: 95%;
    }
    .logotype {
        margin-right: 35px;
    }
    .header__search_bar {
        width: 450px;
    }
}

@media (max-width: 1240px) {
    .logotype {
        margin-right: 35px;
        width: 130px;
    }
    .custom {
        width: 200px;
    }
    .header__search_bar {
        width: 450px;
    }
    .header__button {
        width: 180px;
    }
    .header__navbar_banner img {
        height: 275px;
        object-fit: none;
    }
    .header__filter_items {
        /* padding-top: 15px; */
        padding-bottom: 15px;
    }
    .reviews__cards {
        width: 95%;
    }
    .faq__items {
        width: 95%;
    }
    .faq__item {
        width: 100%;
    }
    .faq__item_answer_open {
        margin: 0 auto;
    }
    .faq__visible {
        margin: 0 auto;
    }
    .info__block_note {
        width: 95%;
    }
    .banner__list_items {
        width: 95%;
        margin: 0 auto;
        flex-wrap: wrap;
    }
    .footer__wrapper {
        width: 95%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }
}

@media (max-width: 1024px) {
    .header__navbar {
        /* padding-bottom: 20px; */
    }
    .header__banner_text {
        top: 45px;
    }
    .header__navbar_banner img {
        height: 295px;
        object-fit: none;
    }
    .header__navbar {
        display: flex;
        padding-top: 20px;
        /* padding-bottom: 20px; */
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .header__button {
        margin-top: 20px;
    }
    .header__filter_items {
        width: 95%;
        flex-wrap: wrap;
    }
    .custom {
        width: 240px;
    }
    .filter__input {
        margin-bottom: 25px;
    }
    .header__search_bar {
        /* margin-right: 30px; */
    }
    .coupon__price {
        display: none;
    }
    .discount__item {
        width: 95%;
        margin: 0 auto;
        margin-bottom: 15px;
    }
    .coupon__price img {
        height: 40px;
        width: 300px;
    }
    .reasons__container {
        max-width: 100%;
        width: 95%;
        margin: 0 auto;
        text-align: center;
    }
    .reviews__cards {
        flex-wrap: wrap;
    }
    .reviews__card {
        margin-bottom: 30px;
    }
    .info__full_logo {
        width: 95vw;
        left: calc((100vw - 95vw) /2);
    }
    .banner__list_items {
        width: 95%;
        margin: 0 auto;
        flex-wrap: wrap;
        margin-top: 40px;
    }
    .footer_text {
        margin-bottom: 15px;
        width: 70%;
        line-height: 25px;
    }
    .footer__wrapper {
        align-items: center;
    }
    .footer__nav {
        width: 350px;
        padding-top: 50px;
    }
    .header__filter_items>div {
        width: 49%;
    }
    .header__filter_items>input {
        width: 49%;
    }
    .header__filter_items>button {
        width: 49%;
    }
    .filter__sort select {
        width: 100%;
    }
    .filter__sort select {
        padding-left: 25px;
    }
    .filter__sort::after {
        right: 20px;
    }
    .discount__items {
        width: 95%;
        margin: 0 auto;
        margin-top: 70px;
    }
    .discount__item {
        width: 100%;
    }
    .discount__item {
        margin-bottom: 0px;
    }
}

@media (max-width: 769px) {
    .faq__block {
        margin: 0 auto;
    }
    .discount__price {
        font-size: 25px !important;
    }
    .discount__visible_price sup {
        font-size: 15px !important;
    }
    .discount__price_text {
        font-size: 16px !important;
    }
    .reviews__text {
        width: 90%;
    }
    .header__search_bar {
        margin-top: 15px;
    }
    .header__navbar a {
        color: white;
        font-size: 18px;
        font-weight: 400;
        margin-top: 25px;
    }
    .custom {
        display: none !important;
    }
    .header__search_bar {
        margin-top: 15px;
        display: none;
    }
    .header__navbar {
        width: 80%;
    }
    .header_banner_button {
        display: block;
    }
    .header__banner_text p {
        display: none;
    }
    .header_banner_button {
        width: 65px;
        height: 35px;
        border-radius: 20px;
        background: #53c4ca;
        border: none;
        color: white;
        font-weight: 600;
    }
    .header__banner_text {
        display: flex;
        justify-content: space-between;
        width: 90%;
    }
    .header__banner_text h1 {
        width: 50%;
        font-size: 15px;
    }
    .header__navbar_banner img {
        height: 70px;
        object-fit: none;
    }
    .header__banner_text {
        top: 20px;
        align-items: center;
    }
    .header__filter {
        display: none;
    }
    .header__navbar_banner img {
        position: relative;
        top: 4px;
    }
    .discount__items {
        width: 100%;
        margin: 0 auto;
        margin-top: 20px;
    }
    .mobile__discount_block {
        display: inline-grid;
        height: 700px;
    }
    .mobile__discount_block img {
        width: 100vw;
    }
    .mobile__discount_blue {
        height: 300px;
    }
    .mobile__discount_block p {
        font-size: 16px;
        font-weight: 300;
        text-align: center;
        bottom: 280px;
        width: 90%;
        margin: 0 auto;
        position: relative;
        line-height: 30px;
        color: white;
    }
    .reasons__card p {
        width: 150px;
        margin: 0 auto;
    }
    .reviews>img {
        width: 690px;
        left: calc((100vw - 690px) / 2);
        top: -300px;
        position: absolute;
    }
    .info__header {
        width: 100vw;
    }
    .info__block {
        width: 95vw;
    }
    .info__icons_wrapper {
        width: 95%;
    }
    .info__note_text {
        font-weight: 300;
        font-size: 14px;
        margin-bottom: 35px;
        line-height: 20px;
    }
    .footer__wrapper {
        width: 95%;
        margin: 0 auto;
        display: block;
        justify-content: space-between;
        text-align: center;
    }
    .footer_text {
        margin: 0 auto;
        margin-bottom: 15px;
    }
    .footer__nav {
        text-align: left;
    }
    .footer__nav {
        width: 96vw;
        padding-top: 50px;
    }
    nav {
        margin: 0 auto;
        width: 350px;
    }
    footer hr {
        margin-top: 10px;
    }
    .faq__subtitle {
        width: 90%;
    }
    .info__wrapper_text {
        width: 90%;
    }
    .discount_wrapper {
        height: 110px;
    }
    .discount__visible_block {
        width: 99.5%;
        height: 110px;
    }
    .discount__visible_text {
        border-top: 110px solid #002D6B;
    }
    .discount__show {
        top: 75px;
        height: 40px;
    }
    .discount__visible_price {
        text-align: center;
        position: relative;
        bottom: 10px;
    }
    .discount__price_text {
        font-size: 14px !important;
    }
    .discount__visible_price {
        bottom: 0px;
    }
    .discount__price {
        font-size: 25px !important;
        position: relative;
        left: 25px;
    }
    .discount__visible_block {
        border-left: 4px solid #279cfe;
        position: relative;
        display: flex;
        justify-content: space-between;
    }
    .discount__price_text {
        margin-left: 70px;
        color: black;
        font-weight: 600 !important;
        font-size: 18px;
    }
    .discount__price_text {
        margin-left: 0px;
        position: relative;
        right: 10px;
    }
    .discount__price {
        font-size: 25px !important;
        position: relative;
        left: -10px;
    }
    .reviews>img {
        width: 90vw;
        left: calc((100vw - 90vw) / 2);
        top: -300px;
        position: absolute;
    }
    .header__banner_text h1 {
        width: 90%;
        font-size: 15px;
    }
}

@media (max-width: 600px) {
    .faq__block {
        width: 100%;
    }
    .reviews__text {
        width: 90%;
    }
    .reviews__card {
        margin: 0 auto;
        margin-bottom: 30px;
    }
    .info h1 {
        width: 95%;
        font-size: 32px;
    }
    .reviews>img {
        width: 90vw;
        left: calc((100vw - 90vw) / 2);
        top: -230px;
        position: absolute;
    }
    .faq__question {
        font-size: 14px;
    }
    .faq__item_number {
        font-size: 16px;
    }
    .faq__item_status {
        font-size: 16px;
    }
    .faq__visible {
        width: 90%;
    }
    .faq__item_answer {
        width: 90%;
    }
    .faq__answer__text {
        width: 90%;
        font-size: 13px;
        line-height: 25px;
        display: none;
    }
    .faq__item_answer_open {
        height: 250px;
    }
    .reasons__card {
        width: 33%;
        font-size: 20px;
        color: #312f2f;
        font-weight: 300;
    }
    .reasons__cards_wrapper_small {
        display: none;
    }
    .card__mobile {
        display: block;
    }
    .reasons__card {
        width: 33%;
        font-size: 20px;
        color: #312f2f;
        font-weight: 300;
        margin-top: 30px;
    }
    .reasons {
        padding-bottom: 310px;
    }
}

@media (max-width: 540px) {
    .header__banner_text h1 {
        width: 70%;
        font-size: 15px;
    }
}

@media (max-width: 491px) {
    .faq {
        text-align: center;
        margin-top: 30px;
    }
    .mob__centered {
        margin: 0 auto;
        margin-top: 15px;
    }
    .up_button {
        bottom: 0px;
        right: 0px;
        position: absolute;
    }
    .reasons__button {
        width: 95%;
    }
    .mobile__discount_blue {
        height: 500px;
    }
    .mobile__discount_block p {
        bottom: 450px;
    }
    .header__navbar {
        width: 90%;
    }
    .logotype {
        margin-right: 0px;
        width: 100px;
    }
    .header__button {
        width: 120px;
        font-size: 12px;
        height: 40px;
    }
    .header__navbar a {
        color: white;
        font-size: 12px;
        font-weight: 400;
        margin-top: 25px;
    }
    .header__banner_text h1 {
        width: 65%;
        font-size: 15px;
    }
    .header__banner_text {
        top: 20px;
        margin: 0 auto;
        left: 5%;
    }
    .discount h2 {
        font-size: 17px;
        font-weight: 500;
    }
    .discount p {
        font-size: 14px;
    }
    .discount__name {
        font-size: 18px !important;
        font-weight: 500 !important;
    }
    .discount__visible_text {
        height: 0;
        width: 185px;
        padding-left: 20px;
    }
    .discount__visible_block {
        height: 110px;
    }
    .discount__show {
        top: 85px;
        width: 130px;
        height: 40px;
    }
    .discount__show p {
        font-size: 10px !important;
        font-weight: 600 !important;
        margin-top: 0px;
    }
    .discount__price {
        font-size: 25px !important;
    }
    .discount__visible_price sup {
        font-size: 15px !important;
    }
    .discount__visible_price {
        text-align: center;
        left: 30px;
        position: relative;
    }
    .discount__name_2 {
        top: 20px !important;
    }
    .discount__show_adress_2 {
        top: 65px !important;
    }
    .discount__name {
        top: 35px;
    }
    .discount__show_adress {
        top: 55px;
    }
    .discount__hidden {
        margin-top: 0px;
        background: #E9F5FF;
        border-radius: 0px;
        border: 0px solid #4ab1bd;
        display: none;
    }
    .discount p {
        font-size: 14px;
        font-weight: 400;
    }
    .reasons__text {
        line-height: 30px;
        font-weight: 300;
        font-size: 14px;
        color: #312f2f;
        width: 90%;
        margin: 0 auto;
    }
    .reasons {
        margin-top: 50px;
        background: #edf3fa;
        padding-top: 110px;
        padding-bottom: 510px;
    }
    .reasons__cards {
        margin-top: 50px;
    }
    .reasons__cards_desc {
        line-height: 30px;
    }
    .reasons__card img {
        margin-bottom: 20px;
        width: 90px;
    }
    .reasons__card p {
        width: 120px;
        margin: 0 auto;
        font-size: 14px;
    }
    .reasons__button {
        font-size: 16px;
    }
    .reasons {
        padding-bottom: 310px;
    }
    .reviews>img {
        top: -190px;
    }
    .reviews {
        padding-top: 150px;
    }
    .reviews h3 {
        font-size: 17px;
    }
    .reviews__subtitle {
        font-weight: 300;
        font-size: 15px;
    }
    .reviews__text {
        margin: 0 auto;
        text-align: center;
        font-weight: 300;
        font-size: 14px;
        color: white;
        line-height: 25px;
    }
    .reviews__cards {
        margin-top: 30px;
    }
    .reviews__card {
        width: 90%;
    }
    .faq h1 {
        font-size: 17px;
    }
    .faq__subtitle {
        margin: 0 auto;
        margin-top: 25px;
        font-weight: 300;
        font-size: 16px;
        color: #000000;
        line-height: 30px;
    }
    .faq__items {
        margin-top: 30px;
        margin-bottom: 100px;
    }
    .faq__visible {
        width: 95%;
    }
    .faq__item_answer {
        width: 95%;
    }
    .faq__question {
        font-size: 12px;
    }
    .faq__item_number {
        font-size: 13px;
    }
    .faq__question {
        width: 70%;
        text-align: left;
    }
    .info hr {
        background: #f2f6fb;
        color: #f2f6fb;
        margin-bottom: 0px;
        border: none;
        height: 1px;
    }
    .info h1 {
        width: 95%;
        font-size: 20px;
        line-height: 30px;
    }
    .info__button {
        width: 90%;
        height: 45px;
        font-size: 14px;
    }
    .info hr {
        background: #f2f6fb;
        color: #f2f6fb;
        margin-bottom: 20px;
        border: none;
        height: 1px;
        margin-top: 20px;
    }
    .info__wrapper_title {
        font-weight: 700;
        font-size: 21px;
        color: #002d6b;
    }
    .info__wrapper_text {
        width: 90%;
        font-size: 16px;
    }
    .info__icons_block img {
        margin-right: 15px;
        width: 20px;
        height: 20px;
    }
    .info__icons_block p {
        font-weight: 700;
        font-size: 14px;
        color: #002d6b;
    }
    .info__icons_block {
        text-align: left;
        margin-bottom: 15px;
        display: flex;
        width: 50%;
    }
    .info__block_text {
        padding-left: 40px;
        padding-right: 40px;
        line-height: 25px;
    }
    .info__block_text img {
        position: absolute;
        top: -30px;
        left: 20px;
    }
    .info__block_note {
        text-align: left;
        color: #666;
        margin: 0 auto;
        margin-top: 20px;
        padding-bottom: 40px;
    }
    .info__block_note {
        width: 90%;
    }
    .banner__save_title {
        font-weight: 400;
        font-size: 22px;
    }
    .banner__save_desc {
        font-weight: 400;
        font-size: 14px;
        margin-top: 20px;
    }
    .banner__save_button {
        width: 70%;
        height: 55px;
        border-radius: 40px;
        margin-top: 50px;
        font-size: 15px;
        cursor: pointer;
    }
    .banner__save {
        height: 200px;
        background-size: cover;
        padding-top: 30px;
        box-sizing: border-box;
    }
    .banner__save_button {
        width: 70%;
        height: 55px;
        border-radius: 40px;
        margin-top: 20px;
        font-size: 15px;
        cursor: pointer;
    }
    .banner__list {
        background: #53c4ca;
        height: 150px;
        box-sizing: border-box;
        padding-top: 10px;
    }
    .banner_list_item {
        width: 6%;
    }
    .banner__list_items {
        width: 85%;
        margin: 0 auto;
        flex-wrap: wrap;
        margin-top: 40px;
    }
    footer {
        background: #312f2f;
        padding-top: 20px;
        padding-bottom: 30px;
    }
    .discount__adress {
        font-size: 13px;
    }
    .discount p {
        font-size: 20px;
        font-weight: 400;
        margin-top: 0px;
    }
    .discount__visible_block {
        height: 110px;
    }
    .discount__show {
        top: 70px;
    }
    .discount__visible_price {
        text-align: center;
        left: 25px;
        width: 50%;
        top: -5px;
        position: relative;
    }
    .discount__price {
        font-size: 25px !important;
        position: relative;
        left: -10px;
        top: 0px;
    }
    .discount__hidden {
        margin-top: 20px;
        background: #E9F5FF;
        border-radius: 10px;
        border: 1px solid #4ab1bd;
        display: none;
    }
    .discount p {
        font-size: 16px;
        font-weight: 400;
        margin-top: 0px;
    }
    .reviews {
        padding-bottom: 10px;
    }
    .info__full_logo {
        margin-bottom: 50px;
    }
    .discount {
        margin-top: 20px;
    }
    .reasons__button {
        margin-top: 50px;
    }
    .reasons {
        padding-bottom: 250px;
    }
    .info__block_text {
        position: relative;
        margin-top: 50px;
    }
    .info__block {
        padding-bottom: 40px;
    }
    .banner__list_items {
        display: block;
        margin: 0 auto;
    }
    .banner__list_items>div {
        width: 100%;
        margin-top: 10px;
    }
    .info__icons_wrapper {
        margin-left: 10%;
    }
    .discount__item_name_block {
        border-right: 0px;
        height: 120px;
    }
    .discount__item_text_block {
        border-left: 0px;
        border-right: 0px;
        height: 120px;
    }
    .discount__item_coupon_block {
        border-left: 0px;
        height: 120px;
    }
    .discount__item_name_block {
        padding-left: 15px;
    }
    .discount__header {
        display: none;
    }
    .discount__item_text_block {
        width: 250px;
    }
    .discount__item {
        width: 100%;
        position: relative;
    }
    .discount__item_coupon_block div {
        width: 170px;
        position: absolute;
        top: 40px;
        right: 100px;
    }
    .discount__item {
        width: 100%;
        position: relative;
        height: 120px;
    }
    .discount__item_coupon_block div {
        width: 140px;
        position: absolute;
        top: 70px;
        height: 40px;
        right: 50px;
    }
    .discount__item_coupon_block div p {
        font-size: 12px;
    }
    .discount__item_block_text {
        color: #000;
        font-weight: 700 !important;
        font-size: 16px;
        margin-top: -10px !important;
        position: relative;
        left: 70px;
    }
    .discount__item_block_price {
        margin-top: 20px;
        position: relative;
        left: 70px;
        font-weight: 700 !important;
        font-size: 24px !important;
    }
    .discount__item_name {
        font-weight: 600 !important;
    }
    .discount__item_show {
        font-size: 10px !important;
    }
    .discount__item_name_block {
        padding-top: 40px;
    }
    .discount_adress_row p {
        font-size: 12px !important;
    }
    .discount__adress {
        padding-left: 20px;
        box-sizing: border-box;
    }
    .discount_adress_row p {
        font-size: 10px !important;
    }
    .discount__item {
        width: 95%;
        position: relative;
        height: 120px;
    }
    .discount__adress {
        padding-left: 20px;
        box-sizing: border-box;
        width: 95%;
        margin: 0 auto;
    }
}

@media (max-width: 431px) {
    .discount__hidden {
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .discount__price {
        font-size: 25px !important;
        position: relative;
        left: -15px;
        top: -5px;
    }
    .discount__show {
        right: 30px;
    }
    .discount__price_text {
        margin-left: 0px;
        color: black;
        font-weight: 600 !important;
        font-size: 18px;
    }
    .discount__show {
        top: 70px;
        width: 130px;
        height: 40px;
    }
    .discount__visible_price {
        text-align: center;
        left: 10px;
        position: relative;
    }
    .discount {
        margin-top: 20px;
        color: black;
        text-align: center;
    }
    .discount p {
        margin-top: 10px;
    }
    .faq__items {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .info__icons_block p {
        font-weight: 700;
        font-size: 12px;
        color: #002d6b;
    }
    .reviews>img {
        top: -170px;
    }
    .reasons {
        padding-bottom: 240px;
    }
    .discount p {
        margin-top: 0px;
    }
    .discount p {
        line-height: 27px;
    }
    .reasons__button {
        height: 55px;
        background: #002d6b;
        border-radius: 40px;
    }
    .faq__question {
        width: 65%;
        text-align: left;
    }
    .discount__visible_price {
        top: -12px;
    }
    .discount__visible_text {
        height: 0;
        width: 130px;
        padding-left: 20px;
    }
    .discount__price_text {
        margin-left: 0px;
        position: relative;
        right: 5px;
    }
    .discount__price {
        font-size: 25px !important;
        position: relative;
        left: 0px;
        top: -5px;
    }
    .discount__adress {
        font-size: 12px;
    }
    .discount__item_name {
        text-align: left;
    }
    .discount__item_show {
        text-align: left;
    }
    .discount__item_name_block {
        padding-top: 20px;
    }
    .discount__item_text_block {
        width: 300px;
    }
    .discount__item_coupon_block div {
        width: 140px;
        position: absolute;
        top: 70px;
        height: 40px;
        right: 30px;
    }
    .discount__item_block_price {
        margin-top: 20px;
        position: relative;
        left: 65px;
        font-weight: 700 !important;
        font-size: 22px !important;
        top: -5px !important;
    }
    .discount__item_name_2 {
        line-height: 25px !important;
    }
    .discount__item_name {
        position: relative;
        top: 10px;
    }
    .discount__adress {
        padding-left: 0px;
        box-sizing: border-box;
        width: 95%;
        margin: 0 auto;
    }
    .discount_adress_row {
        text-align: left;
        padding-left: 10px;
    }
    .discount__item_name_block {
        padding-top: 30px;
    }
}

@media (max-width: 396px) {
    .mobile__discount_block p {
        margin-top: -65px;
    }
    .mobile__discount_blue {
        height: 550px;
    }
    .banner__save_title {
        font-weight: 400;
        font-size: 18px;
    }
    .discount__item_block_text {
        color: #000;
        font-weight: 700 !important;
        font-size: 16px;
        margin-top: -10px !important;
        position: relative;
        left: 40px;
        width: 200px;
    }
    .discount__item_block_price {
        margin-top: 20px;
        position: relative;
        left: 55px;
        font-weight: 700 !important;
        font-size: 22px !important;
        top: -5px !important;
    }
    .discount__item_coupon_block div {
        width: 140px;
        position: absolute;
        top: 70px;
        height: 40px;
        right: 30px;
    }
}

@media (max-width: 415px) {
    .discount__adress {
        padding-top: 5px;
        padding-left: 20px;
        padding-right: 10px;
    }
    .discount__price {
        font-size: 25px !important;
        position: relative;
        left: -10px;
        top: -5px;
    }
    .header__banner_text h1 {
        width: 80%;
        font-size: 15px;
    }
    .discount__visible_price {
        text-align: center;
        left: 0px;
        position: relative;
        top: -12px;
    }
    .reviews>img {
        top: -150px;
    }
    .faq__question {
        width: 65%;
        text-align: left;
    }
    .discount__adress {
        font-size: 13px;
        line-height: 20px;
    }
    .discount__visible_text {
        height: 0;
        width: 115px;
        padding-left: 20px;
    }
    .discount__visible_price {
        text-align: center;
        left: 15px;
        position: relative;
        top: -12px;
    }
    .discount__price_text {
        right: 15px;
    }
    .discount_adress_row {
        text-align: left;
        padding-left: 0px;
    }
    .discount_adress_row {
        text-align: left;
        padding-left: 0px;
        display: block;
        height: auto;
        padding-top: 0px;
    }
    .discount_adress_row p {
        width: 100%;
    }
    .discount__item_block_text {
        color: #000;
        font-weight: 700 !important;
        font-size: 16px;
        margin-top: -10px !important;
        position: relative;
        left: 55px;
    }
}

@media (max-width: 376px) {
    .logotype {
        margin-right: 30px;
    }
    .discount__visible_price {
        text-align: center;
        left: 10px;
        position: relative;
        top: -12px;
        width: 100%;
    }
    .discount__adress {
        font-size: 11px;
        line-height: 20px;
    }
    .discount__show p {
        margin-top: 0px;
    }
    .mobile__discount_block p {
        line-height: 25px;
    }
    .reasons {
        margin-top: 0px;
    }
    .reasons__cards h1 {
        font-weight: 700;
        font-size: 21px;
        color: #002d6b;
    }
    .mobile__discount_block p {
        margin-top: -10px;
    }
    .reasons__cards_desc {
        font-size: 13px;
        font-weight: 300;
        width: 80%;
        line-height: 20px !important;
        margin: 0 auto;
        margin-top: 10px;
        color: #312f2f;
    }
    .reasons__cards_wrapper {
        margin-top: 0px;
        flex-wrap: wrap;
    }
    .reasons__card img {
        margin-bottom: 10px;
        width: 70px;
    }
    .reasons__card p {
        width: 100px;
        margin: 0 auto;
        font-size: 12px;
    }
    .reasons__button {
        height: 45px;
    }
    .reasons {
        padding-bottom: 210px;
    }
    .reviews h3 {
        font-size: 16px;
    }
    .reviews__subtitle {
        font-weight: 300;
        font-size: 14px;
    }
    .reviews__card_text {
        line-height: 23px;
        font-weight: 400;
        font-size: 14px;
        margin-bottom: 20px;
    }
    .faq__question {
        width: 65%;
        text-align: left;
    }
    .faq__item_answer_open {
        height: 350px;
    }
    .banner__save_title {
        font-weight: 400;
        font-size: 18px;
    }
    .banner__save_desc {
        font-weight: 400;
        font-size: 14px;
        margin-top: 10px;
    }
    .banner__save_button {
        height: 45px;
    }
    .footer_text {
        width: 90%;
    }
    .discount__name {
        font-size: 16px !important;
        font-weight: 700 !important;
    }
    .discount__visible_text {
        height: 0;
        width: 185px;
        padding-left: 20px;
    }
    .mobile__discount_block p {
        bottom: 480px;
    }
    .mobile__discount_blue {
        height: 520px;
    }
    .discount__price_text {
        margin-left: 0px;
        position: relative;
        right: 10px;
        font-size: 12px !important;
        width: 160px;
    }
    .discount__show_adress_2 {
        top: 60px !important;
    }
    .discount__show_adress {
        top: 55px;
    }
    .discount__name {
        font-size: 15px !important;
        font-weight: 700 !important;
    }
    .discount__name {
        left: 10px;
    }
    .discount__visible_text {
        height: 0;
        width: 185px;
        padding-left: 10px;
    }
    .discount__name_2 {
        line-height: 20px !important;
    }
    .discount__item_block_text {
        width: 250px;
    }
    .discount__item_block_price {
        margin-top: 20px;
        position: relative;
        left: 10px;
        font-weight: 700 !important;
        font-size: 22px !important;
        top: -5px !important;
    }
    .discount__item_block_text {
        color: #000;
        font-weight: 700 !important;
        font-size: 16px;
        margin-top: -10px !important;
        position: relative;
        left: -70px;
    }
    .discount__item_text_block {
        width: 90px;
    }
    .discount_adress_row {
        text-align: left;
        padding-left: 0px;
    }
    .discount__item_text_block {
        position: relative;
        padding-left: 20px;
    }
    .discount__item_block_price {
        margin-top: 20px;
        position: relative;
        left: 20px;
        font-weight: 700 !important;
        font-size: 22px !important;
        top: -5px !important;
    }
}

@media (max-width: 361px) {
    .logotype {
        margin-right: 10px;
    }
    .header__banner_text h1 {
        width: 80%;
        font-size: 14px;
    }
    .header__banner_text {
        top: 20px;
        margin: 0 auto;
        left: 2%;
    }
    .header__banner_text h1 {
        width: 80%;
        font-size: 13px;
    }
    .discount__price_text {
        margin-left: 0px;
        color: black;
        font-weight: 600 !important;
        font-size: 18px;
        width: 170px;
        top: 5px;
    }
}